@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-100 text-neutral-900;
}

@media print {
  .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
}

@media screen {
  .print-only {
    display: none !important;
  }
}
